@model ProductInventory.Models.ViewModel.ProductEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <label asp-for="Name">Product name:</label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <label asp-for="Description">Description:</label>
    <input asp-for="Description" class="form-control"/>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div>
    <label asp-for="Price">Price:</label>
    <input asp-for="Price" class="form-control"/>
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div>
    <select asp-for="CategoryId"
            asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
    </select>
</div>
<div>
    <select asp-for="ManufacturerId"
            asp-items="@(new SelectList(Model.Manufacturers, "Id", "Name"))">
    </select>
</div>
<button class="btn btn-primary" type="submit">Save product</button>