
<input type="checkbox" title="Navigation menu" class="navbar-toggler border-primary"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link custom" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom" href="About">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Om Oss
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom" href="ServiceList"> <!--ServiceList-->
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tjenester
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link custom" href="Contact">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kontakt Oss
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link custom" href="PostalCodeCheckup"> <!--PostalCodeCheckup-->
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bestill Time
            </NavLink>
        </div>
    </nav>
</div>