@page "/TempBookingPage"

<PageTitle>Book Tjeneste</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <img src="images/bra_reint_transparent.png" alt="Bra Reint Logo" class="img-fluid" style="max-height: 150px;" />
        <h1 class="display-4 mt-3">Du er innenfor vårt område!</h1>
        <p class="lead mt-3">Vi tilbyr tjenester i ditt område. For å booke en tjeneste, ta kontakt via e-post:</p>

        <div class="mt-4">
            <a href="mailto:post@brareint.no" class="btn btn-primary btn-lg">
                Book via E-post
            </a>
        </div>

        <p class="mt-4">Vi svarer så fort vi kan.</p>
        <p>Har du spørsmål? Vi hjelper gjerne!</p>
    </div>
</div>