@page "/UnderConstruction"

<PageTitle>Under Utvikling</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Under <span class="text-primary">Utvikling</span></h1>
        <p class="lead mt-3">Siden vil bli tilgjengelig så snart den er klar...</p>
        <p class="lead mt-3">Beklager ulempen!</p>
    </div>
</div>