@page "/Confirmation"

<PageTitle>Bekreftelse</PageTitle>

<div class="container my-5">
    <h1 class="text-center mb-4">Bestillingen er Bekreftet!</h1>

    <p class="text-center">En e-postbekreftelse er sendt til deg med detaljer om bestillingen din.</p>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Til Hjemmesiden</a>
    </div>
</div>