@page "/Contact"

<PageTitle>Kontakt Oss</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 d-flex justify-content-center align-items-center gap-3 flex-wrap">
            Kontakt Oss
            <img src="images/bra_reint_transparent.png" alt="Bra Reint Logo"
                 style="max-height: 200px;" />
        </h1>
        <p class="lead mt-3">Ta kontakt for gratis befaring eller et uforpliktende tilbud.</p>
    </div>

    <div class="mt-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>E-post:</strong> <a href="mailto:post@brareint.no">post@brareint.no</a>
            </li>
            <li class="list-group-item">
                <strong>Telefon:</strong> <a href="tel:+4796011080">+47 960 11 080</a>
            </li>
            <li class="list-group-item">
                <strong>Åpningstider:</strong> Alltid velkommen til å sende mail - vi svarer så fort vi kan!
            </li>
            <li class="list-group-item">
                <strong>Sosiale medier:</strong>
                <a href="https://www.facebook.com/profile.php?id=61575802030354" target="_blank">Facebook</a> | 
                <a href="https://www.instagram.com/brareint/?igsh=ZzQwcmtvdDA1djg1" target="_blank">Instagram</a>
            </li>
        </ul>
    </div>

    <div class="text-end mt-4">
        <a href="mailto:post@brareint.no">
            <img src="images/contact_us_transparent.png" alt="Send e-post til Bra Reint"
                 class="img-fluid"
                 style="max-height: 300px;" />
        </a>
    </div>
</div>