@page "/"
@using BraReintFrontend.Components.Component

<PageTitle>Velkommen</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <img src="images/bra_reint_transparent.png" alt="Bra Reint Logo"
             class="img-fluid d-block mx-auto my-0 py-0" style="max-height: 400px;">
        
        <p class="lead mt-1">Velkommen til oss, din pålitelige partner for profesjonelt renhold og vedlikehold – både innendørs og utendørs.</p>
        <p class="lead mt-3">Hos BRA REINT tilbyr vi et bredt spekter av tjenester som sørger for at hjemmet eller eiendommen din fremstår både ren og godt vedlikeholdt, hele året.
            Vi spesialiserer oss på:</p>
    </div>
    
    <div class="mt-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Vindusvask med rentvannsystem (water fed pole) – opp til 15 meter uten stige</li>
            <li class="list-group-item">Solcellepanelvask – skånsomt og effektivt for bedre effekt og levetid</li>
            <li class="list-group-item">Høytrykkspyling – av innkjørsel, gårdsplass, murer, trapper, fasader m.m.</li>
            <li class="list-group-item">Fasadevask og takvask – med lavtrykk/softwash og spesialmidler</li>
            <li class="list-group-item">Rens av takrenner – for å sikre god drenering</li>
            <li class="list-group-item">Rens og vask av søppelbøtter</li>
            <li class="list-group-item">Vask og behandling av belegningsstein og mur.</li>
            <li class="list-group-item">Vask og rens av ventilasjonssystemer</li>
            <li class="list-group-item">Påfylling av fugesand og impregnering</li>
        </ul>
    </div>

    <p class="lead mt-3">Tjenestene tilbys både til privatkunder, borettslag, næringsbygg og det offentlige,
        med fokus på trygghet, effektivitet og god kundeservice.</p>
</div>

<Salespitch />
