@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="text-center">
    <h2 class="display-4">About</h2>
    <p>This is our about tab. Our web page show an overview of students and some details about them.</p>
</div>
